<section class="bg-main-light p-2">
  <div class="container">
    <h3>Get The FrechCart app</h3>
    <p>we will send you a link, open it on your phone to download the app</p>

    <div class="row">
      <div class="col-md-9">
        <input type="email" placeholder="Email" class="form-control" />
      </div>
      <div class="col-md-3">
        <button class="btn-main">Share App Link</button>
      </div>
    </div>
    <hr />
    <p class="text-center">@ 2023 israa ahmed , All Rights Reserved</p>
  </div>
</section>
