<section
  *ngIf="step1"
  class="bg-main-light p-3 rounded my-3 w-100 mx-auto shadow"
>
  <div class="container">
    <h2 class="text-center">please enter your verification code</h2>
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPass()">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        placeholder="Email"
        class="form-control mb-3"
      />
      <button class="btn btn-outline-success w-100">Forget Password</button>
      <p *ngIf="msg" class="alert alert-danger mt-2">{{ msg }}</p>
    </form>
  </div>
</section>
<section
  *ngIf="step2"
  class="bg-main-light w-100 my-3 rounded p-3 shadow mx-auto"
>
  <div class="container">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
      <label for="code">Reset Code</label>
      <input
        formControlName="resetCode"
        type="text"
        id="code"
        placeholder="Code"
        class="form-control mb-3"
      />
      <button class="btn btn-outline-success w-100">Reset Code</button>
      <p *ngIf="msg" class="alert alert-danger mt-2">{{ msg }}</p>
    </form>
  </div>
</section>
<section
  *ngIf="step3"
  class="bg-main-light my-3 w-100 rounded p-3 shadow mx-auto"
>
  <div class="container">
    <form [formGroup]="resetPassForm" (ngSubmit)="resetPss()">
      <label for="New Password">New Password</label>
      <input
        #inputPass
        formControlName="newPassword"
        type=" password"
        id="New Password"
        placeholder="New Password"
        class="form-control mb-3"
      />
      <div
        class="alert alert-danger mt-3"
        *ngIf="
          resetPassForm.get('newPassword')?.errors &&
          (resetPassForm.get('newPassword')?.touched ||
            inputPass.value.length > 0)
        "
      >
        <p *ngIf="resetPassForm.get('newPassword')?.getError('pattern')">
          password must start with upperCase then from 6 to 20
        </p>
      </div>
      <button class="btn btn-outline-success w-100">Reset Password</button>
      <p *ngIf="msg" class="alert alert-danger mt-2">{{ msg }}</p>
    </form>
  </div>
</section>
